@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;600;700&family=Saira:wght@400;600;700&family=Titillium+Web:wght@400;600;700&display=swap');

body {
  margin: 0;
}

.container {
  height: 40rem;
  width: 80rem;
  margin: 2rem;
  margin-left: 5rem;
  font-family: Prompt;
  color: #333333;
  display: flex;
  /* border: 1px solid #e2dfdf; */
  border: 1px solid black;
  border-radius: 10px;
}

/* -- MAIN CALENDAR STYLES -- */

.calendarView {
  position: relative;
  /* top: 2rem; */
  /* right: 4.5rem; */
  height: 40rem;
  width: 80rem;
  border-left: 1px solid black;
}

.month-yearHeadingCntr {
  position: relative;
  left: 1rem;
  height: 5rem;
  width: 35rem;
  font-family: 'Saira';
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e2dfdf;
}

.monthHeading {
  position: relative;
  bottom: .5rem;
  left: 1rem;
  height: 5rem;
  letter-spacing: 15px;
  padding: 5px 12px; 
}

.yearHeading {
  position: relative;
  bottom: .5rem;
  right: 6rem;
  height: 5rem;
  letter-spacing: 15px;
  padding: 5px 12px;
  /* outline: 1px solid red; */
}

.setDateInput {
  position: relative;
  top: -2rem;
  left: 45rem;
  height: .8rem;
  /* width: 12rem; */
  font-size: 15px;
  padding: 5px 10px;
  outline: 1px solid #e2dfdf;
  border: none;
  border-radius: 10px;
}

.setDateInput:focus {
  outline: none;
}

.mainCalendarCntr {
  position: relative;
  top: -1rem;
  left: .5rem;
  height: 32rem;
  width: 59rem;
  display: flex;
  padding: 10px;
  padding-right: 0px;
  border: 1px solid #e2dfdf;
  border-radius: 10px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(7, 8.4rem);
  grid-row-gap: 5px;
}


/* -- EVENT VIEW STYLES -- */

.eventsView {
  position: relative;
  height: 40.2rem;
  width: 25rem;
  /* outline: 1px solid red; */
  border-radius: 10px 0px 0px 10px;
}

.eventsViewHeading {
  position: relative;
  bottom: 1.2rem;
  font-family: 'Saira';
  font-size: 1.8rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
  /* outline: 1px solid green; */
}

.addEventBtn {
  position: relative;
  left: .3rem;
  width: 18.5rem;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  /* padding: 3px 10px; */
  background: #e2dfdf;
  border-radius: 3px;
  cursor: pointer;
}

.addEventBtn:hover {
  font-weight: 600;
  background: none;
  outline: 1px solid #e2dfdf;
}

.addEventOpen {
  position: relative;
  left: .3rem; 
  width: 18.5rem;
  height: 8.8rem;
  border-radius: 3px;
  outline: 1px solid gray;
}

.addEventOpenHeading {
  position: relative;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.nameAddEvent {
  position: relative;
  left: .3rem;
  bottom: 1rem;
  width: 16.5rem;
  padding: 3px 10px;
  border-radius: 5px;
  outline: 1px solid #e2dfdf;
  border: none;
}

.nameAddEvent:focus {
  outline: none;
}

.date-typeCntrAdd {
  position: relative;
  left: .3rem;
  top: 5px;
  width: 17.7rem;
  display: flex;
  justify-content: space-between;
}

.dateAddEvent {
  position: relative;
  bottom: 1rem;
  padding: 0px 5px;
  outline: 1px solid #e2dfdf;
  border: none;
  border-radius: 5px;
}

.typeAddEvent {
  position: relative;
  bottom: 1rem;
  padding: 2px 5px;
  outline: 1px solid #e2dfdf;
  border: none;
  border-radius: 5px;
}

.cnclCnfrmBtns {
  position: relative;
  bottom: 1.3rem;
  list-style: none;
  /* outline: 1px solid black; */
}

.cnfrmBtnAdd {
  position: relative;
  right: 2.2rem;
  width: 17.7rem;
  text-align: center;
  letter-spacing: 8px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  color: #F7FFF7;
  background: #1885f2;
  cursor: pointer;
}

.cnfrmBtnAdd:hover {
  background: #0b6ac9;
}

.cnclBtnAdd {
  position: relative;
  right: 2.2rem;
  top: 5px;
  width: 17.7rem;
  text-align: center;
  letter-spacing: 8px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  outline: 1px solid #333333;
  cursor: pointer;
}

.cnclBtnAdd:hover {
  background: #e2dfdf;
  outline: none;
}

.indEventCntr {
  position: relative;
  top: .5rem;
  height: 30.8rem;
  /* outline: 1px solid green; */
  overflow-y: hidden;
}

/* -- INDIVIDUAL EVENT STYLES -- */

.indEventView {
  position: relative;
  left: 1rem;
  top: 2rem;
  height: 1.2rem;
  width: 16rem;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  outline: 1px solid black;
  cursor: pointer;
}

.indEventView:hover {
  background: #e2dfdf;
}

/* -- DAILY EVENTS STYLES -- */

.dailyEventView {
  position: relative;
  top: 1.2rem;
  left: .3rem;
  height: .7rem;
  width: 6.5rem;
  font-size: 8px;
  padding: 2px 8px;
  margin-bottom: 5px;
  border-radius: 15px;
  outline: 1px solid #e2dfdf;
}


/* -- EDIT EVENT STYLES -- */

.editEventContainer {
  position: relative;
  left: 5rem;
  top: 15rem;
  height: 24rem;
  width: 30rem;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  border-radius:  10px;
  border: 1px solid black;
}

.editEventHeading {
  position: relative;
  font-size: 2rem;
  letter-spacing: 5px;
  left: 9rem;
}

.nameInput {
  position: relative;
  left: 1.5rem; 
  height: 1.2rem;
  width: 25rem;
  font-size: 18px;
  padding: 8px 11px;
  border-radius: 10px;
}

.nameInput:focus {
  outline: none;
}

.date-typeContainer {
  position: relative;
  left: 1.5rem;
  margin-top: 20px;
  height: 2.1rem; 
  width: 26.3rem;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.dateInput {
  font-size: 17px;
  padding: 5px 10px;
  border-radius: 10px;
}

.dateInput:focus {
  outline: none;
}

.typeInput {
  position: relative;
  left: .2rem;
  width: 8rem;
  font-size: 17px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px
}

.typeInput:focus {
  outline: none;
}

.cancelConfirmBtns {
  position: relative;
  left: 1.5rem;
  height: 6rem;
  width: 24rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.confirmBtn {
  position: relative;
  right: 2.5rem;
  height: 1.6rem;
  width: 25.3rem;
  font-size: 22px;
  text-align: center;
  letter-spacing: 8px;
  font-weight: 600;
  padding: 7px 10px ;
  color: #F7FFF7;
  background: #1885f2;
  border-radius: 7px;
  cursor: pointer;
}

.confirmBtn:hover {
  background: #0b6ac9;
}

.cancelBtn {
  position: relative;
  right: 2.5rem;
  height: 1.6rem;
  width: 25.3rem;
  font-size: 22px;
  text-align: center;
  letter-spacing: 8px;
  font-weight: 600;
  padding: 7px 10px ;
  color: #333333;
  outline: 1px solid #e2dfdf;
  border-radius: 7px;
  cursor: pointer;
}

.cancelBtn:hover {
  background: #e2dfdf;
  outline: none;
}


/* -- DAY STYLES -- */

.indDayView {
  position: relative;
  height: 6rem;
  width: 8rem;
  outline: 1px solid #e2dfdf;
  border-radius: 5px;
  cursor: pointer;
}

.indDayView:hover {
  outline: 2px solid #333333;
}

.name-numDayCntr {
  position: relative;
  top: .5rem;
  height: .8rem;
  padding: 2px 5px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.dayName {
  position: relative;
  top: -1rem;
  height: 1.5rem;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 0px 3px;
  /* border: 1px solid red; */
}

.dayNum {
  position: relative;
  top: -1rem;
  height: 1.5rem;
  font-size: 12px;
  padding: 0px 3px;
}

.extraEvents {
  position: relative;
  left: 5.9rem;
  top: 15px;
  width: .8rem;
  font-size: 8px;
  padding: 2px 8px;
  border: 1px solid #e2dfdf;
  border-radius: 10px;
}